[ghq]
        vcs = git
        root = ~/Workspace
[credential "https://github.com"]
        helper = 
        helper = !/usr/bin/gh auth git-credential
[user]
        email = kakkunpakkun@gmail.com
        name = kakkunpakkun
[alias]
        st = status
        co = switch
        br = branch
        df = diff
        sw = switch
        s  = switch
[credential]
        helper = cache
